/* .navbar{
    background-color: rgb(18,140,126);
}
.nav-item{
    text-decoration: none;
} */
.mac{
    font-size: 65%
    
}
.card-img-top{
    width: 300px;
    height: 500px;
}
#text-image{
    background-color: rgb(216,232,234) ;
}
/* .image-2{
    padding-top: 50px;
} */
